# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# Installers
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.log
*.pdf
*.dat

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv/
env/
ENV/
venv/
ENV.bak/
venv.bak/

# macOS
.DS_Store

# mypy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# Pylint
.pylint.d/

# Pyright
.pyright/

# VS Code
.vscode/

# Local development environment
.idea/
.vscode/
